body {
background-color: #98bcd9;
color:rgb(8, 8, 8);
font-size: 25px;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-size: 55px;
}

.navigator {
    text-align: left;
}

.div-1 {
    font-weight: lighter;
    text-align: left;
}

.div-2 {
    text-decoration: underline;
}

.div-3 {
    text-decoration: underline;
}